@model Cibertec.Models.Customers

<h2>Delete</h2>
<hr />
<h3>¿Esta seguro de borrar este registro?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.CustomerID)</dt>
        <dd>@Html.DisplayFor(model => model.CustomerID)</dd>

        <dt>@Html.DisplayNameFor(model => model.CompanyName)</dt>
        <dd>@Html.DisplayFor(model => model.CompanyName)</dd>

        <dt>@Html.DisplayNameFor(model => model.ContactName)</dt>
        <dd>@Html.DisplayFor(model => model.ContactName)</dd>

        <dt>@Html.DisplayNameFor(model => model.ContactTitle)</dt>
        <dd>@Html.DisplayFor(model => model.ContactTitle)</dd>

        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>@Html.DisplayNameFor(model => model.City)</dt>
        <dd>@Html.DisplayFor(model => model.City)</dd>

        <dt>@Html.DisplayNameFor(model => model.Region)</dt>
        <dd>@Html.DisplayFor(model => model.Region)</dd>

        <dt>@Html.DisplayNameFor(model => model.PostalCode)</dt>
        <dd>@Html.DisplayFor(model => model.PostalCode)</dd>

        <dt>@Html.DisplayNameFor(model => model.Country)</dt>
        <dd>@Html.DisplayFor(model => model.Country)</dd>

        <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

        <dt>@Html.DisplayNameFor(model => model.Fax)</dt>
        <dd>@Html.DisplayFor(model => model.Fax)</dd>
    </dl>
</div>

@using (Ajax.BeginForm("Delete"
                        , new { Controller = "Customer" }
                        , new AjaxOptions()
                        {
                            HttpMethod = "POST"
                                    ,
                            InsertionMode = InsertionMode.Replace
                                    ,
                            UpdateTargetId = "modal-body"
                                    ,
                            OnSuccess = "customer.success();"
                        }
                        , htmlAttributes: new { id = "deleteForm" }
                    )
        )
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CustomerID)
    <div class="form-actions no-color">
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>

}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");
    });
</script>
